@import "./src/global/global";
@import '~material-symbols';

:host {
  display: block;
  --toolbar-height: 26px;
  --border-color: rgb(73, 76, 80);
  --top-menu-bacground-color: rgb(41, 42, 45);
  --panel-background-color: rgb(32, 33, 36);
  --text-color: rgb(154, 160, 166);
  --icon-color: #919191;

  background-color: var(--panel-background-color);
  width: 100%;
  height: 100vh;
  max-width: 800px;
  min-width: 234px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  transition: transform 1s, opacity 1s;
  transition-timing-function: ease-in-out;

  &.closed {

  }

  .material-symbols-rounded {
    font-variation-settings: 'FILL' 0,
    'wght' 200,
    'GRAD' -25,
    'opsz' 40;

    &.filled {
      font-variation-settings: 'FILL' 1,
      'wght' 200,
      'GRAD' -25,
      'opsz' 40
    }

    &.thick {
      font-variation-settings: 'FILL' 0,
      'wght' 700,
      'GRAD' -25,
      'opsz' 40
    }

    &.close {
      font-size: 1.15em;
      margin-top: 5px;
    }

    &.more {
      font-size: 18px;
      margin-top: 4px;
    }

    &.clear {
      font-size: 15px;
      margin-top: 6px;
      margin-left: 2px;
    }

  }
}

.resize-line {
  position: absolute;
  z-index: 2;
  transition: all 0.25s;

  &.resize-left-line {
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
    border-left: 1px solid #494c50;
    cursor: w-resize;
  }
}

.top-menu, .sub-menu {
  display: flex;
  background: var(--top-menu-bacground-color);
  min-height: var(--toolbar-height);
  width: 100%;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);

  .v-divider {
    margin: 5px 6px 6px;
    border-left: 1px solid var(--icon-color);
    width: 1px;
    opacity: .5;
  }

  .menu-item {
    white-space: nowrap;
    overflow: hidden;
    min-width: 28px;
    background: 0 0;
    border-radius: 0;
    cursor: url('../../assets/images/cursor.webp'),auto;

    &.icon-menu-item {
      width: 28px;
      height: 24px;
      color: var(--icon-color);

      span {
        font-size: 22px;
        margin-top: 2px;
      }

      &:hover {
        color: #fefefe;
      }
    }

    &.button {
      height: 26px;
      margin: 0;
      border: none;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      float: left;
      padding: 0 .8em;
      line-height: 16px;
      white-space: nowrap;
      display: flex;
      font-size: 12px;
      align-items: center;
      color: var(--text-color);
      cursor: url('../../assets/images/cursor.webp'),auto;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      & > i {
        & > i {
          float: left;
          padding: 0;
          width: 4px;
          background: transparent;
          font-size: 16px;
          line-height: 1;
        }
      }

      &.more {
        width: 25px;
        min-width: 25px;
        float: left;
        padding: 0 2px 0 2px;
      }

      &:hover {
        color: rgb(232, 234, 237);
        background-color: rgb(53, 54, 58);
      }

      &.selected {
        height: 26px;
        margin: 0;
        border: 0 none;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        color: rgb(234, 234, 234);
        background-color: #000000;
      }

      &.hidden {
        display: none;
      }
    }
  }

  .right-top-nav {
    display: flex;
    margin-left: auto;
  }
}

.sub-menu {
  .icon-menu-item {
    i {
      color: rgb(145 145 145);

      &:hover {
        color: #fefefe;
      }
    }
  }
}

.console {
  font-family: consolas, 'lucida console', 'courier new', monospace, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: rgb(232, 234, 237);
  overflow: auto;
  max-height: calc(100vh - 52px);

  .p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 5px 6px 24px;

    .message {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      color: rgb(232, 234, 237);
    }

    .green {
      color: rgb(255, 255, 255); //var(--panel-background-color);
      background-color: #009101;
      padding: 3px 6px;
      border-radius: 6px;
    }

    &:not(.new) {
      div:first-child {
        display: flex;
        justify-content: space-between;
      }
    }

    .console-icon{
      height: 10px;
      width: 21px;
      margin-top: 2px;
      display: inline-block;
      background-position-x: -40px;
      background-position-y: 70px;
      margin-right: 3px;
      background-image: url("../../assets/images/smallIcons.svg");
    }
    &.error {
      .message{
        color: rgb(255, 128, 128) !important;
      }

      background-color: rgb(41, 0, 0) !important;
      border-bottom: 1px solid rgb(92,0,0) !important;
      border-top: 1px solid rgb(92,0,0) !important;
    }

    .payload {
      white-space: pre;
    }

    b {
      color: #ccd6ef;
    }

    .file {
      color: rgb(154, 160, 166);
      text-decoration: underline;
      cursor: url('../../assets/images/cursor.webp'),auto;
      margin-left: 12px;

      &:hover {
        color: rgb(241, 243, 245);
      }
    }
  }

  .p + .p {
    border-top: 1px solid var(--border-color);
  }

  .new {
    display: flex;
    padding-left: 12px;

    .caret {
      color: #007dff;
    }

    input {
      background-color: transparent;
      border: none;
      flex: 1;
      color: #d7d7d7;
      margin-left: 6px;
      outline: none;
    }
  }


}

#crunching-menu {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
}

.menu-item-dropdown {
  position: absolute;
  min-width: 250px;
  color: #e8eaed;
  background-color: #292a2d;
  border: 1px solid #494c50;
  min-height: 24px;
  top: 26px;
  right: 0;
  font-size: 12px;

  li:not(.divider) {
    padding: 7px 12px 7px 32px;
    cursor: url('../../assets/images/cursor.webp'),auto;
    position: relative;

    &:hover {
      background-color: #3f4042;
      color: #fefefe;
    }

    &.active {
      &::after {
        position: absolute;
        content: 'check';
        overflow-wrap: normal;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
        font-feature-settings: "liga";
        direction: ltr;
        display: inline-block;
        font-family: "Material Symbols Rounded", serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 20px;
        font-style: normal;
        left: 6px;
        top: 6px;
        font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 40;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1;
        text-transform: none;
        white-space: nowrap;
      }
    }
  }
}
