[data-color-scheme="dark"] {
  color-scheme: dark;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 200,
  'GRAD' -25,
  'opsz' 40
}

.material-symbols-rounded-filled.filled {
  font-variation-settings: 'FILL' 1,
  'wght' 200,
  'GRAD' -25,
  'opsz' 40
}


